<div class="page">
<h1>Browse our magical creatures</h1>
<div class="category my-4">
<div class="cards">
<% @creatures.each do |creature| %>
    <%= link_to root_path do %>
      <div class="card-creature">
      <img src="https://source.unsplash.com/random" alt="">
        <h1> <%= creature.name %> </h1>
        <p> <%= creature.description %> </p>
        <div class="card-bottom">
          <h1> <%= creature.species %> </h1>
          <h1> <%= creature.price_per_day %> <small>per day</small></h1>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
