<div class="page">
  <div class="category my-4">
    <h1>My results</h1>
    <div class="cards">
      <% @creatures.each do |creature| %>
        <%= link_to creature_path(creature) do %>
          <div class="card-creature">
          <img src="https://source.unsplash.com/random" alt="">
            <h1><%= creature.name %> the <%= creature.species %></h1>
            <p><%= creature.description %></p>
            <div class="card-bottom">
              <h1>2,6 ⭐️</h1>
              <h1><%= creature.price_per_day %>$ <small>per day</small></h1>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
