<div class="page">
  <div class="category my-4">
    <h2 class="ml-5">Book your experience with <%= @creature.name %></h2>
    <div class="two-columns-page">
      <div class="card-creature card-big">
        <%= image_tag @creature.profile_pic %>
        <h1><%= @creature.name %> the <%= @creature.species %></h1>
        <p><%= @creature.description %></p>
        <div class="card-bottom">
          <h1><%= @creature.rating %> ⭐️</h1>
          <h1><%= @creature.price_per_day %>$ <small>per day</small></h1>
        </div>
      </div>
      <form style="width: 600px;" method="post">
        <div class="form-group"> <!-- start Date input -->
            <label class="control-label" for="date">Start rent</label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
        </div>
        <div class="form-group"> <!-- End Date input -->
            <label class="control-label" for="date">End rent</label>
            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
        </div>
        <div class="form-group"> <!-- Submit button -->
            <button link_to creature_bookings_path, class="btn btn-primary " name="submit" type="submit">Submit</button>
        </div>
     </form>
    </div>
  </div>
</div>
