<%= render "pages/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534447677768-be436bb09401?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1371&q=80);">
  <div class="container-banner">
    <div class="banner-top-div">
      <h1><span id="banner-typed-text"></span></strong></h1>
      <p>Discover the real world of fanstasy.</p>
    </div>
    <div class="banner-bottom-div">
      <div class="search-element">
        <%= form_tag creatures_index_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            id: "address-input",
            placeholder: "Type your location here...."
          %>
      </div>
          <%= submit_tag "✦", class: "search-button" %>
        <% end %>
    </div>
  </div>
</div>
<div class="page">
  <div class="category my-4">
    <div>
      <h2 class="my-4">Discover new powers</h2>
      <div class="cards">
        <%= link_to creatures_search_path(power: "flying") do %>
          <div class="card-power">
            <%= image_tag "flying.jpg" %>
            <div class="card-product-infos">
              <h2>Fly</h2>
              <p>Go abroad on the <strong>comfiest creatures</strong></p>
            </div>
          </div>
        <% end %>
        <%= link_to creatures_search_path(power: "dark-power") do %>
          <div class="card-power">
            <%= image_tag "demon.jpg" %>
            <div class="card-product-infos">
              <h2>Dark powers</h2>
              <p>Curse your <strong>worst enemy</strong> with the help of our demons</p>
            </div>
          </div>
        <% end %>
        <%= link_to creatures_search_path(power: "good-luck") do %>
          <div class="card-power">
            <%= image_tag "magic.jpg" %>
            <div class="card-product-infos">
              <h2>Luck</h2>
              <p>Get the <strong>best luck</strong> for your projects</p>
            </div>
          </div>
        <% end %>
        <%= link_to creatures_search_path(power: "magic") do %>
          <div class="card-power">
            <%= image_tag "wizard.jpg" %>
            <div class="card-product-infos">
              <h2>Wichcraft</h2>
              <p>Become <strong>Harry Potter </strong>for a day</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="category my-4">
    <div>
      <h2 class="my-4">Meet our friendliest creatures</h2>
        <div class="cards">
          <%= link_to creatures_shsp_path(species: "dragon") do %>
            <div class="card-type" style="background-image: url(<%= image_path('dragon.jpg') %>)">
              <h1>Dragons</h1>
            </div>
          <% end %>
          <%= link_to creatures_shsp_path(species: "elf") do %>
            <div class="card-type" style="background-image: url(<%= image_path('elf.jpg') %>)">
              <h1>Elves</h1>
            </div>
          <% end %>
          <%= link_to creatures_shsp_path(species: "demon") do %>
            <div class="card-type" style="background-image: url(<%= image_path('evil.jpg') %>)">
              <h1>Demons</h1>
            </div>
          <% end %>
          <%= link_to creatures_shsp_path(species: "wizard") do %>
            <div class="card-type" style="background-image: url(<%= image_path('wand.jpg') %>)">
              <h1>Wizards & Witches</h1>
            </div>
          <% end %>
        </div>
    </div>
  </div>
    <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('big-card.jpg') %>)">
      <h1 class="my-3">Book your next experience now</h1>
      <button class="btn btn-index"><a href="/creatures/index">See all the creatures</a></button>
    </div>
  </div>
</div>
<div class="page">
  <div class="category my-4">
    <div>
      <h2 class="my-4">Our best recommandations now</h2>
      <div class="cards">
        <% @sample_creature.each do |creature| %>
          <%= link_to creature_path(creature) do %>
            <div class="card-creature">
              <% if creature.profile_pic != nil %>
                <%= image_tag creature.profile_pic %>
              <% else %>
                <%= image_tag "monster-logo.png" %>
              <% end %>
                <h1> <%= creature.name %> the <%= creature.species %> </h1>
                <p> <%= creature.description %> </p>
              <div class="card-bottom">
                <h1> <%= creature.rating %>⭐️</h1>
                <h1> <%= creature.price_per_day %> <small>per day</small></h1>
              </div>
            </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
