
<%= render "pages/banner" %>

<div class="page">

  <div class="category my-4">
    <h2 class="my-4">Discover new powers</h2>
    <div class="cards">
      <%= link_to creatures_search_path(power: "flying") do %>
        <div class="card-power">
          <%= image_tag "flying.jpg" %>
          <div class="card-product-infos">
            <h2>Fly</h2>
            <p>Go abroad on the <strong>comfiest creatures</strong></p>
          </div>
        </div>
      <% end %>
      <%= link_to creatures_search_path(power: "dark-power") do %>
        <div class="card-power">
          <%= image_tag "demon.jpg" %>
          <div class="card-product-infos">
            <h2>Dark powers</h2>
            <p>Curse your <strong>worst enemy</strong> with the help of our demons</p>
          </div>
        </div>
      <% end %>
      <%= link_to creatures_search_path(power: "good-luck") do %>
        <div class="card-power">
          <%= image_tag "magic.jpg" %>
          <div class="card-product-infos">
            <h2>Luck</h2>
            <p>Get the <strong>best luck</strong> for your projects</p>
          </div>
        </div>
      <% end %>
      <%= link_to creatures_search_path(power: "magic") do %>
        <div class="card-power">
          <%= image_tag "wizard.jpg" %>
          <div class="card-product-infos">
            <h2>Wichcraft</h2>
            <p>Become <strong>Harry Potter </strong>for a day</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="category my-4">
    <h2 class="my-4">Meet our friendliest creatures</h2>
      <div class="cards">
        <%= link_to creatures_shsp_path(species: "dragon") do %>
          <div class="card-type" style="background-image: url(<%= image_path('dragon.jpg') %>)">
            <h1>Dragons</h1>
          </div>
        <% end %>
        <%= link_to creatures_shsp_path(species: "elf") do %>
          <div class="card-type" style="background-image: url(<%= image_path('elf.jpg') %>)">
            <h1>Elves</h1>
          </div>
        <% end %>
        <%= link_to creatures_shsp_path(species: "demon") do %>
          <div class="card-type" style="background-image: url(<%= image_path('evil.jpg') %>)">
            <h1>Demons</h1>
          </div>
        <% end %>
        <%= link_to creatures_shsp_path(species: "wizard") do %>
          <div class="card-type" style="background-image: url(<%= image_path('wand.jpg') %>)">
            <h1>Wizards & Witches</h1>
          </div>
        <% end %>
      </div>
  </div>
</div>

  <div class="big-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
    <h1 class="my-3">Book your next experience now</h1>
    <button class="btn btn-light"><a href="users/sign_up">Sign up Now</a></button>
  </div>
</div>


<div class="page">
  <div class="category my-4">
    <h2 class="my-4">Our best recommandations now</h2>
    <div class="cards">
      <% @sample_creature.each do |creature| %>
        <%= link_to creature_path(creature) do %>
          <div class="card-creature">
            <% if creature.profile_pic != nil %>
              <img src="<%= image_path(creature.profile_pic) %>" alt="">
            <% else %>
               <%= image_tag "monster-logo.png" %>
            <% end %>
              <h1> <%= creature.name %> the <%= creature.species %> </h1>
              <p> <%= creature.description %> </p>
            <div class="card-bottom">
              <h1> <%= creature.rating %> </h1>
              <h1> <%= creature.price_per_day %> <small>per day</small></h1>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
